<div ng-show="visible" class="row chat-window col-md-12 {{vm.theme}}" ng-class="{minimized: vm.isHidden}">

    <div class="panel">
        <div class="panel-heading chat-top-bar">
            <div class="col-md-12">
                <h3 class="panel-title">{{vm.title}}
                    <i class="window-actions fa" ng-class="vm.chatButtonClass" style="float: right;" ng-click="vm.toggle()"></i>
                </h3>
            </div>
        </div>

        <div class="panel-body" ng-style="vm.panelStyle">
            <div class ="row">
                <div class="col-md-2">
                    Channels go here, but where the hell are they?
                    <div class="row" ng-repeat="channel in vm.channels track by $index">
                        #{{channel.name}}
                    </div>
                </div>
                <div class="msg-container-base" class="col-md-8">
                    <div class="row msg-container" ng-repeat="message in vm.messages track by $index" ng-init="selfAuthored = vm.myUserId == message.fromUserId">
                        <div class="chat-msg" ng-class="{'chat-msg-sent': selfAuthored, 'chat-msg-recieved': !selfAuthored}">
                            <span class="hide">myUserId:{{vm.myUserId}}</span>
                            <div class="chat-msg-author">
                                <strong>{{message.username}}</strong>&nbsp;
                                <span class="date">{{message.date|date:hh:mm:a}}</span>
                            </div>
                            <img ng-if="message.imageUrl" class="profile" ng-class="{'pull-right': selfAuthored, 'pull-left': !selfAuthored}" ng-src="{{message.imageUrl}}" />
                            <p>{{message.content}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="chat-bottom-bar">
                <form style="display:inherit" ng-submit="vm.submitFunction()">
                    <div class="input-group" >
                        <input type="text" class="form-control input-sm chat-input" placeholder="{{vm.inputPlaceholderText}}" ng-model="vm.writingMessage" />
                    <span class="input-group-btn">
                        <input type="submit" class="btn btn-sm chat-submit-button" value="{{vm.submitButtonText}}" />
                    </span>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
